Hello,
<p>
You are receiving this email because you are identified as a Manager of the
Google Shared Drive "{{drive.shared_drive.drive_name}}".
</p>
<p>
To maintain service, Google Shared Drive use must be actively
acknowledged every {{lifetime}} days.  The drive "{{drive.shared_drive.drive_name}}"
is within {{notice_time}} days of its required renewal.
</p>
<p>
To log in to the Provisioning Request Tool (PRT) and renew the expiring shared drive visit:
<p>
<p>
<a href="https://itconnect.uw.edu/connect/productivity-platforms/provisioning-request-tool/#prt" target="_blank">Click here to log in to the Provisioning Request Tool (PRT) to renew expiring services.</a>
</p>
<p>
If you have any questions, please contact <a href="mailto:help@uw.edu" target="_blank">help@uw.edu</a> or 206-221-5000.
</p>
Thank you,<br />
UW-IT<br />
