Hello,
<p>
You are receiving this email because you are identified as
{%if drive.shared_drive.members.all.count > 1 %}a {% else %}the {% endif %}
UW manager of the Google Shared Drive named "{{drive.shared_drive.drive_name}}".
</p>
<p>
Google Shared Drives must be renewed once every {{lifetime}} days. If your Google
Shared Drive is not renewed within {{notice_time}} days from the date of this notice,
the Google Shared Drive and all data contained within it will be
permanently deleted.
</p>
<p>
To maintain this Google Shared Drive, renew it within {{notice_time}} days using
the Provisioning Request Tool (PRT) at:
</p>
<a href="https://provision.uw.edu/drives" target="_blank" style="padding-left: 4em;">https://provision.uw.edu/drives</a>
<p>
If you have any questions, please contact <a href="mailto:help@uw.edu" target="_blank">help@uw.edu</a> or 206-221-5000.
</p>
Thank you,<br />
UW-IT<br />
