Hello,
<p>
You are receiving this email because you are identified as
{%if drive.shared_drive.members.all.count > 0 %}one of {{ drive.shared_drive.members.all.count }}{% else %}the{% endif %} UW manager{{drive.shared_drive.members.all.count|pluralize}} of the Google Shared Drive named
"{{drive.shared_drive.drive_name}}".
</p>
<p>
To maintain service, Google Shared Drive use must be actively acknowledged
every {{lifetime}} days.  The drive "{{drive.shared_drive.drive_name}}"{%if acceptor %}, last acknowledged by
the netid {{acceptor.member.netid}} on {{acceptor.datetime_accepted|date:"M j, Y"}},{% endif %} is now within {{notice_time}} days of its required renewal.
</p>
<p>
To log in to the Provisioning Request Tool (PRT) and renew the expiring shared drive visit:
<p>
<p>
<a href="https://itconnect.uw.edu/connect/productivity-platforms/provisioning-request-tool/#prt" target="_blank">Click here to log in to the Provisioning Request Tool (PRT) to renew expiring services.</a>
</p>
<p>
If you have any questions, please contact <a href="mailto:help@uw.edu" target="_blank">help@uw.edu</a> or 206-221-5000.
</p>
Thank you,<br />
UW-IT<br />
