Hello,
<p>
You are receiving this email because you are identified as
{%if drive.shared_drive.members.all.count > 1 %}
one of {{ drive.shared_drive.members.all.count }}
{% else %}
the
{% endif %}
UW manager{{drive.shared_drive.members.all.count|pluralize}} of the Google Shared Drive named "{{drive.shared_drive.drive_name}}".
</p>
<p>
Google Shared Drives services last for {{lifetime}} days and must be renewed
annually or removed.  This Shared Drive has not been renewed (expired) and
will be deleted.
</p>
<p>
If you have any questions, please contact <a href="mailto:help@uw.edu" target="_blank">help@uw.edu</a> or 206-221-5000.
</p>
Thank you,<br />
UW-IT<br />
