-e .
git+https://github.com/uw-it-aca/uw-restclients-msca@c54d54581794c813cac31b4582ef907091cad9a5#egg=uw-restclients-msca
git+https://github.com/uw-it-aca/uw-restclients-itbill@e2d4c91d21bb4770b722a19640f59075ca4560e5#egg=uw-restclients-itbill
