-e .
git+https://github.com/uw-it-aca/uw-restclients-msca@c54d54581794c813cac31b4582ef907091cad9a5#egg=uw-restclients-msca
git+https://github.com/uw-it-aca/uw-restclients-itbill@develop#egg=uw-restclients-itbill
