{% extends wrapper_template %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block content %}
<style>
.current_message { background-color: #fbfbe3; }
h4 {font-weight: 900;}
</style>
<h2>PRT Statistics</h2>
<div class="container" style="max-width: 100%;">
  <div class="row">
    <div class="col-xs-6">
      <div id="service_container" style="min-width: 150px; height: 240px; max-width: 300px; margin: 0 auto"></div>
    </div>

    <div class="col-xs-6">
      <div id="shared_container" style="min-width: 150px; height: 240px; max-width: 300px; margin: 0 auto"></div>
    </div>
  </div>
</div>

{% csrf_token %}

{% include "handlebars/admin/stats.html" %}
{% endblock %}

{% block extra_js%}
{% render_bundle 'statistics' 'js' %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% endblock %}
