{% load templatetag_handlebars %}
{% tplhandlebars "admin-endorsee-search-result" %}

<h3>Services and Provisioners for {{endorsee}}</h3>
<table id="endorsee-table" class="endorsee-table table table-striped">
  <thead>
    <tr>
      <th>Service</th>
      <th>Provisioner</th>
      <th>Reason</th>
      <th>Request Date</th>
    </tr>
  </thead>
  <tbody class="scrollable">
    {{#each endorsements.endorsements}}
    <tr><td>{{category_name}}</td><td>{{endorser.netid}}</td><td>{{reason}}</td><td>{{datetime_endorsed}}</td></tr>
    {{/each}}
</tbody>
</table>


{% endtplhandlebars %}

