{% extends "base.html" %}
{% load static %}

{% block title %}401 Error{% endblock title %}

{% block content %}

    <div class="container error-container" role="main" aria-labelledby="sea-404-error">
        <div class="card">
            <h1 id="sea-404-error">You are not authorized to access this page.</h1>
            <p>Only UW employees may provision services to others.</p>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
<script src="{% static "endorsement/js/main.js" %}"></script>
{% endblock %}
