{% extends "base.html" %}
{% load static %}

{% block title %}Provisioning Accepted{% endblock title %}

{% block content %}
    <div role="main" aria-labelledby="sea-accepted">
        <div class="card" style="padding: 20px; min-height: 300px; max-width: 800px; margin: 0px auto;">
          <h2 id="sea-accepted">You have already accepted</h2>
            <p>Our records show that you've already agreed to the policies in order to access {% for s in services %}{% if not forloop.first %}{% if forloop.last%} or {% else %}, {% endif %}{% endif %}{{ s }}{% endfor %}.</p>
            <p>If you have reached this page in error or you have questions, please <a href="https://itconnect.uw.edu/help/" target="_blank">contact UW-IT for help</a>.</p>
        </div>
    </div>

{% endblock content %}
