{% load hashing_tag %}
{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Provisioning Request Tool</title>
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

<!--
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-3.3.7.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/css/font-awesome-4.2.0.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/css/ionicons-2.0.1.min.css' %}">
-->

<!-- base css libs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">


    {% render_bundle 'main' 'css' %}

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700' rel='stylesheet' type='text/css'>

<link rel="shortcut icon" href="{% static 'endorsement/img/favicon.ico' %}" type="image/x-icon">

  </head>

  <body>
    {% csrf_token %}
    <script>
      window.user = {
        "netid": "{{ user.netid }}"
      };
      window.endorsed_services = {{ services | default:'{}' | safe }};
      window.access = {
          "office": {
              "types": []
          }
      };
    </script>
    {% if override_user %}
    <div class="override-warning">
      <strong>YOU ARE CURRENTLY OVERRIDING AS ANOTHER USER.</strong>{% if support_override_user %} Overriding in support role is read-only.{% endif %} &nbsp;<a href="/support">Back to PRT Support pages.</a>
    </div>
    {% endif %}
    <div class="page-wrap"> <!-- another wrap to make a sticky footer -->
        <div id="top_banner" class='no-padding'> <!-- username and logout goes here, handlebars/page-top.html -->
        </div>
<!--
    <div id="app_header">
        <div class="header-bar" role="navigation" title="Home">
            <div class="container clearfix">
                <div class="pull-left header-myuw"><a href="/" title="Go to Service Endorsement Home"><h1 id="main_header">Service Endorsement</h1></a></div>
                </div>
        </div>
    </div>
 -->

    <div id="app_content">
        {% block content %}{% endblock %}
    </div>

	<footer id="app_footer" role="contentinfo">
		<div class="footer-bar">
            <div class="container footer-links">
                <ul class="footer-links-list">
                    <li class="footer-links-list-item"><a href="mailto://help@uw.edu" title="Contact help@uw.edu"><i class="ion-android-mail" role="presentation"></i> Contact</a></li>
                    <li class="footer-links-list-item"><a href="//www.washington.edu/online/terms/" title="University of Washington Website Terms and Conditions of Use">Terms</a></li>
                    <li class="footer-links-list-item"><a href="//www.washington.edu/online/privacy/" title="University of Washington Online Privacy Statement">Privacy</a></li>
               </ul>
                <div style="clear:both;">&copy; {% now "Y" %} University of Washington</div>
            </div>
		</div><!-- end of footer content -->
	</footer>

    <!--
    <script src="{% static 'vendor/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap-3.3.7.min.js' %}"></script>
    <script src="{% static 'vendor/js/ios-orientationchange-fix.min.js' %}"></script>
    <script src="{% static 'vendor/js/handlebars-v2.0.0.js' %}"></script>
    -->

    <!-- base js libs -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.6/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    

    {% include "handlebars/page-top.html" %}

    {% render_bundle 'handlebars' %}
    {% render_bundle 'main' 'js' %}
    {% block extra_js %}{% endblock %}

  </body>
</html>
