{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container persistent-messages">
</div>

<div class="container">
 <h2 style="text-transform: uppercase;">Manage Provisions</h2>

 <p>Grant, revoke, and renew access to UW-IT services for UW NetIDs you own and UW NetIDs owned by others.</p>

<div class="tabs">
 <ul class="tabs-list">
   <li class="active" data-tab="services"><span>Services</span></li>
   <li data-tab="access"><span>Elevated Access</span></li>
 </ul>
 <div id="services" class="tab active">
  <div id="shared-uwnetids">

    <h4>UW NetIDs you own</h4>
    <p>Manage access to provisioned UW-IT services for UW NetIDs you own (Shared, Admin, etc.). &nbsp;<a href="https://itconnect.uw.edu/connect/email/resources/endorse-uw-netids/" target="_blank">Learn more.</a>
    </p>
    <div id="shared" class="netid-panel"></div>
  </div>

  <div id="endorsed-uwnetids">
    <h4>UW NetIDs owned by others</h4>
    <p>Manage access to UW-IT services for UW affiliates working on behalf of the UW (alumni, retirees, consultants, etc.). &nbsp;<a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">Learn more.</a></p>
    <div id="provisioned" class="netid-panel"></div>
  </div>
 </div>
 <div id="access" class="tab">
    <div id="office_access" class="netid-panel"></div>
 </div>
</div>

{% include "handlebars/reasons_partial.html" %}
{% include "handlebars/email_editor_partial.html" %}
{% include "handlebars/endorse_result.html" %}
{% include "handlebars/endorse.html" %}
{% include "handlebars/revoke.html" %}
{% include "handlebars/renew.html" %}

{% include "handlebars/tab/shared/shared.html" %}
{% include "handlebars/tab/shared/accept.html" %}
{% include "handlebars/tab/shared/provisioned.html" %}

{% include "handlebars/tab/endorsed/endorsed.html" %}
{% include "handlebars/tab/endorsed/accept.html" %}
{% include "handlebars/endorsers_partial.html" %}
{% include "handlebars/endorse_button_partial.html" %}
{% include "handlebars/display_filter_partial.html" %}

{% include "handlebars/tab/access/office.html" %}
{% include "handlebars/tab/access/modal_action_partial.html" %}
{% include "handlebars/tab/access/modal_validate.html" %}
{% include "handlebars/tab/access/modal_confirm.html" %}
{% include "handlebars/tab/access/modal_revoke.html" %}
{% include "handlebars/tab/access/modal_resolved.html" %}
{% include "handlebars/tab/access/modal_renew.html" %}
{% include "handlebars/tab/access/modal_update.html" %}

{% include "handlebars/expiring.html" %}
{% include "handlebars/persistent_messages.html" %}

{% endblock %}
