{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">

  <p style="padding: 10px 10px 0 10px;">This tool allows you to manage non-employees' ability to access UW Office 365 and/or UW G Suite (Google). Use this to vouch that someone who has a UW NetID is eligible to use these services because of an established working relationship with UW. This tool does not allow you to provision services to shared UW NetIDs at this time.</p>
    <p style="padding: 0 10px;">You will need to know the UW NetID of each person to whom you are provisioning services, as well as a valid email address at which they can receive email.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#endorse" data-toggle="tab"><h2>Provision services</h2></a></li>
    <li><a href="#endorsed" data-toggle="tab" class="previous-endorsement"><h2>Manage your provisioned services</h2></a></li>
    <li><a href="#shared" data-toggle="tab" class="shared-endorse"><h2>Manage shared NetIDs you own</h2></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="endorse">
       <div class="form-group" id="uwnetids-input">
        <h3>Provision services for other people</h3>

           <label for="netid_list">Enter the UW NetID(s), @uw.edu, or @washington.edu email address(es) for which you want to provision services.</label>
        <textarea id="netid_list"  rows="15" cols="60" class="form-control"></textarea>
        <br />
        <button type="button" name="ValidateUWNetids" id="validate" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Validating UW NetIDs">Check for provision eligibility</button>
      </div>

      <div class="form-group" id="uwnetids-validated" style="display: none;">
      </div>

      <div class="form-group" id="uwnetids-endorsed" style="display: none;">
      </div>
    </div>
    <div class="tab-pane" id="shared">
    </div>
    <div class="tab-pane" id="endorsed">
    </div>
  </div>
</div>

{% include "handlebars/validated.html" %}
{% include "handlebars/valid_partial.html" %}
{% include "handlebars/reasons_partial.html" %}
{% include "handlebars/endorse_result.html" %}
{% include "handlebars/endorsed.html" %}
{% include "handlebars/endorsed_partial.html" %}
{% include "handlebars/endorsers_partial.html" %}
{% include "handlebars/endorse_button_partial.html" %}
{% include "handlebars/shared.html" %}
{% include "handlebars/shared_accept.html" %}
{% include "handlebars/shared_revoke.html" %}
{% include "handlebars/shared_provisioned.html" %}

{% endblock %}

{% block extra_js %}
<script src="{% static "endorsement/js/main.js" %}"></script>
<script src="{% static "endorsement/js/clipboard.js" %}"></script>
<script src="{% static "endorsement/js/notify.js" %}"></script>
{% endblock %}
