{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
 <div class="expiring_netids visually-hidden">
   <span class="significant">You have expiring UW-IT services.</span> Provisioned UW-IT services must be reviewed, renewed, and/or revoked at least annually.  To avoid loss of access to UW-IT services and data deletion, review and take action on the UW NetIDs highlighted below.
 </div>

 <h2 style="text-transform: uppercase;">Manage Provisions</h2>

 <p>Grant, revoke, and renew access to UW-IT services for UW NetIDs you own and UW NetIDs owned by others.</p>

 <p>
   <h4>Manage for:</h4>
   <h4><a href="#shared">UW NetIDs you own</a></h4>
   <h4><a href="#provisioned">UW NetIDs owned by others</a></h4>
 </p>

 <hr />

 <div id="shared-uwnetids">
   <h3>UW NetIDs you own</h3>
   <p>Manage access to provisioned UW-IT services for UW NetIDs you own (Shared, Admin, etc.). &nbsp;<a href="https://itconnect.uw.edu/connect/email/resources/endorse-uw-netids/" target="_blank">Learn more.</a>
   </p>
   <div id="shared" class="netid-panel"></div>
 </div>

 <div id="endorsed-uwnetids">
   <h3>UW NetIDs owned by others</h3>
   <p>Manage access to UW-IT services for UW affiliates working on behalf of the UW (alumni, retirees, consultants, etc.). &nbsp;<a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">Learn more.</a></p>
   <div id="provisioned" class="netid-panel"></div>
 </div>
</div>

{% include "handlebars/reasons_partial.html" %}
{% include "handlebars/email_editor_partial.html" %}
{% include "handlebars/endorse_result.html" %}
{% include "handlebars/endorse.html" %}
{% include "handlebars/revoke.html" %}
{% include "handlebars/renew.html" %}

{% include "handlebars/tab/shared/shared.html" %}
{% include "handlebars/tab/shared/accept.html" %}
{% include "handlebars/tab/shared/provisioned.html" %}

{% include "handlebars/tab/endorsed/endorsed.html" %}
{% include "handlebars/tab/endorsed/accept.html" %}
{% include "handlebars/endorsers_partial.html" %}
{% include "handlebars/endorse_button_partial.html" %}
{% include "handlebars/display_filter_partial.html" %}
{% include "handlebars/enumerate_partial.html" %}

{% endblock %}
