
<p>The UW employee <strong>{{ endorser_name }} ({{ endorser_netid }})</strong> has requested that you be given access through the University of Washington to
{% for svc, v in services.items %}{% if forloop.first %} {% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ v.name}}{% endfor %}.
</p>

<p>
<strong>YOUR ACTIVATION IS REQUIRED</strong> to access UW Service(s) per <a href="https://itconnect.uw.edu/connect/productivity-platforms/provisioning-request-tool/" target="_blank">the process documented here</a>.  UW NetID login required.
</p>

<ul style="list-style-type: none;">
  {% for svc, v in services.items %}
  <li>
    <a href="{{ v.accept_url }}">Activate {{ v.name }}.</a>
  </li>
  {% endfor %}
</ul>

<p>The activation process will likely be completed within two hours, but it may take up to 24 hours.</p>

<p>
    <span style="font-weight: 700;">Your use of these services is bound by UW-IT’s Appropriate Use policy, as well as being subject to state and federal law, and to other UW policies and procedures.</span> For more information, visit UW-IT’s Appropriate Use page at <a href="http://itconnect.uw.edu/work/appropriate-use/" target="_blank">http://itconnect.uw.edu/work/appropriate-use/</a>.
</p>

<p>
    Service documentation is available here:
</p>


<ul style="list-style-type: none;">
    {% for svc, v in services.items %}
    <li>
        <a href="{{v.service_link}}">{{v.name}}</a>
    </li>
    {% endfor %}
</ul>

<p>
    Thank you,<br />
    UW-IT Help Center<br />
    help@uw.edu
</p>
