<p>
Hello {{endorser.display_name}} ({{endorser.netid}}),
</p>
<p>
You are receiving this message because you used the Provisioning Request Tool (PRT) to provision access to {{expiring_count|pluralize:"a ,"}}UW-IT service{{expiring_count|pluralize}} to another UW NetID (retiree, alumni, Sponsored, Shared, and/or Admin).
</p>
<p>
Access to provisioned UW-IT services lasts for {{lifetime}} day{{lifetime|pluralize}} and must be renewed or revoked annually.  Access to provisioned UW-IT services for the following ({{expiring_count}}) UW NetID{{expiring_count|pluralize}} has expired.
{%for impact in impacts %}
{{ impact }}
{% endfor %}
</p>
<table style="width: 100%;">
<thead>
<tr><th>UW NetID</th><th>UW-IT Service</th><th>Date Provisioned</th><th>Reason</th></tr>
<thead>
<tbody>
{%for e in expiring %}
<tr>
<td>{{e.endorsee.netid}}</td><td>{{e.get_category_code_display}}</td><td>{{e.datetime_endorsed|date:"M d, Y"}}</td><td>{{e.reason}}</td></tr>
{% endfor %}
</tbody>
</table>
<p>
<a href="https://itconnect.uw.edu/connect/productivity-platforms/provisioning-request-tool/#prt" target="_blank">Click here to log in to the Provisioning Request Tool (PRT) to renew expiring services.</a>
</p>
<p>
If you have any questions, please contact <a href="mailto:help@uw.edu" target="_blank">help@uw.edu</a> or 206-221-5000.
</p>
Thank you,<br />
UW-IT<br />
