{% load templatetag_handlebars %}
{% tplhandlebars "endorse-accepted" %}

<div class="card">
  <h2>Access to {{ category_name }}</h2>
  <p>You have agreed to comply with all relevant policies, and we are in the process of provisioning your access to {{ category_name }}. Once complete, visit
{{#if is_o365}}<a href="https://login.microsoftonline.com">UW Office 365</a>{{/if}}{{#if is_google}}<a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate">UW G Suite</a>{{/if}} to get started using your new service.
</p>
</div>

{% endtplhandlebars %}

