{% load templatetag_handlebars %}
{% tplhandlebars "endorse-accepted" %}

<div class="card" style="padding-top: 20px; min-height: 300px;">
  <h2>Access to {{ category_name }}</h2>
    <p>You have agreed to comply with all relevant policies, and we are in the process of provisioning your access to {{ category_name }}. This process will likely be completed within two hours, but may take up to 24 hours.</p>

    <p>Visit
{{#if is_o365}}<a href="https://itconnect.uw.edu/connect/productivity-platforms/suites/uw-office-365/" target="_blank">UW Office 365</a>{{/if}}{{#if is_google}}<a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate" target="_blank">UW G Suite</a>{{/if}} to get started using your new service.
    </p>
</div>

{% endtplhandlebars %}

