{% verbatim %}
<script id="endorse-accepted" type="text/x-handlebars-template">

<div class="card" style="padding-top: 20px; min-height: 300px;">
  <h2>Access to UW-IT Services Confirmed</h2>
    <p>You have agreed to comply with all relevant state and federal laws, and with all UW policies and procedures. Access to {{ category_name }} for the UW NetID {{ endorsee.netid }} has been provisioned.

    <p>Get started using 
      <a 
         {{#equals service_tag 'canvas'}}
          href="https://canvas.uw.edu"
         {{/equals}}
         {{#equals service_tag 'o365'}}
         href="https://itconnect.uw.edu/connect/productivity-platforms/uw-office-365/"
         {{/equals}}
         {{#equals service_tag 'google'}}
         href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate"
         {{/equals}}
         target="_blank">{{category_name}}</a>{{/if}}.
    </p>
</div>
</script>

{% endverbatim %}

