{% load templatetag_handlebars %}
{% tplhandlebars "endorse-accept" %}
  
<div class="card">
  <p>The UW employee {{ endorser.name }} ({{ endorser.netid }}) has provisioned you access to {{ category_name }}.</p>

    <p>Your use of UW-IT services is bound by UW-IT’s Appropriate Use policy, as well as being subject to state and federal law, and to other UW policies and procedures. For more information, visit UW-IT’s Appropriate Use page at <a href="http://itconnect.uw.edu/work/appropriate-use/" target="_blank">http://itconnect.uw.edu/work/appropriate-use/</a>.</p>

  <h3>Statement of Agreement</h3>

    <p>I agree to comply with all relevant state and federal laws, and with all UW policies and procedures, relating to my use of UW-IT computing resources, including my use of {{ category_name }}.
    </p>

  <button type="button" name="AcceptProvisionRequest" id="accept" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Saving">Agree</button>
</div>

{% endtplhandlebars %}
