{% load templatetag_handlebars %}

{% tplhandlebars "email_editor_partial" %}
<div class="email-editor email-edit-{{ netid }}">
  <div class="edit-email {{#if email}}visually-hidden{{else}}error{{/if}}">
    <input type=input placeholder="Email address required" value="{{ email }}" style="width: 160px;"><a href="javascript:void(0);" class="finish-email-edit"><i class="fa fa-minus-circle failure"></i></a><br /><span style="display: none;">Valid email required</span>
  </div>
  <div class="display-email{{#if email}}{{else}} visually-hidden{{/if}}">
    <span class="shown-email">{{email}}</span> <a href="javascript:void(0);" class="start-email-edit"><span style="font-size: small;">Edit</span></a>
  </div>
</div>
{% endtplhandlebars %}
