{% load templatetag_handlebars %}
{% tplhandlebars "endorse_modal_content" %}
<!-- Responsiblity Modal -->
      <div class="modal-header">
        <span>Confirm UW NetID provision request</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>By choosing to provision the UW NetID {{ netid }}
            to the {{ service_name }} service, you confirm that:</p>
          <ol>
              <li>The provisioning recipient requires use of the service to carry out official UW operations, and</li>
              <li>You have authority to make this request in accord with the UW-IT guidelines for providing computing services to UW
affiliates. For more information, visit: <a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">https://itconnect.uw.edu/connect/email/resources/affiliate-access/</a>.</li>
          </ol>

        <p>
            <label>
                <input type="checkbox" id="accept_responsibility"  />
                I understand and accept these terms.
            </label>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
        <button type="button" id="endorse" class="btn btn-primary" disabled="disabled">Provision {{ service_name }} for {{ netid }}</button>
      </div>
{% endtplhandlebars %}
