{% load templatetag_handlebars %}
{% tplhandlebars "endorsed-partial" %}

<div class="form-group">
<table class="table table-striped">
  <thead>
    <tr>
      <th>UW NetID</th>
      <th>Name</th>
      <th class="col-border-left">Office365</th>
      <th>{{#if can_revoke}}Revoke Office365{{/if}}</th>
      <th class="col-border-left">Google</th>
      <th>{{#if can_revoke}}Revoke Google{{/if}}</th>
    </tr>
  </thead>
  {{#each endorsed.endorsed}}
  <tr>
    <td>{{@key}}</td>
    <td>{{endorsee.name}}</td>
    <td class="result-status col-border-left">
      {{#if o365}}
        {{#if o365.error}}
          {{o365.error}}
        {{else}}
          {{#if o365.endorsed}}
            <i class="fa fa-check fa-2x success"></i>
          {{else}}
            <i class="fa fa-minus-circle fa-2x failure"></i>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if ../../can_revoke}}
          <i class="fa fa-minus-circle fa-2x failure"></i>
        {{/if}}
      {{/if}}
    </td>
    <td>
      {{#if ../can_revoke}}
        {{#if o365}}
          {{#if o365.endorsed}}
            <input type="checkbox" name="revoke_o365" value="{{@key}}" />
         {{/if}}
        {{/if}}
      {{/if}}
    </td>
    <td class="result-status col-border-left">
      {{#if google}}
        {{#if google.error}}
          {{google.error}}
        {{else}}
          {{#if google.endorsed}}
            <i class="fa fa-check fa-2x success"></i>
          {{else}}
            <i class="fa fa-minus-circle fa-2x failure"></i>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if ../../can_revoke}}
          <i class="fa fa-minus-circle fa-2x failure"></i>
        {{/if}}
      {{/if}}
    </td>
    <td>
      {{#if ../can_revoke}}
        {{#if google}}
          {{#if google.endorsed}}
            <input type="checkbox" name="revoke_google" value="{{@key}}" />
         {{/if}}
        {{/if}}
      {{/if}}
    </td>
  </tr>
  {{/each}}
</table>
</div>

{% endtplhandlebars %}

