{% load templatetag_handlebars %}
{% tplhandlebars "endorsed-netids" %}

<div class="form-group" id="uwnetids-endorsed">
<h3>Accounts for which you have provisioned services</h3>

  {{#if has_endorsed}}
  {{> endorsed_partial .}}
<!-- 
  <button type="button" name="Revoke" id="revoke" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Revoking Services">Revoke Endorsements</button>
-->
  {{else}}
  <div class="no-endorsements">You haven't provisioned services for any UW NetIDs.</dev>
  {{/if}}



</div>

<!-- Revoke Confirmation Modal -->
<div class="modal fade" id="revoke_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
{% endtplhandlebars %}

{% tplhandlebars "revoke_modal_content" %}
<div class="modal-header">
  <span>Revoke your provision of {{ service_name }}</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>You are revoking your provision of {{ service_name }} for {{ netid }}.  They will no longer have access to {{ service_name }} under your provisioning.</p>
    <p>Note that they may continue to have access to {{ service_name }} if provisioned by someone else or if they have another eligible role at the UW.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
  <button type="button" id="revoke" class="btn btn-primary" data-netid="{{ netid }}" data-service="{{ service }}">Revoke your provision</button>
</div>
{% endtplhandlebars %}

{% tplhandlebars "endorsed-loading" %}
<div class="loading"><div></div></div>
{% endtplhandlebars %}


{% tplhandlebars "endorsed-failure" %}
<div class="no-endorsements">We are unable to determine provisioned services at this time.  Please try again later.</dev>
{% endtplhandlebars %}
