{% verbatim %}
<script id="renew_modal_container" type="text/x-handlebars-template">
  <!-- Renew Endorsement Confirmation Modal -->
  <div class="modal fade" id="renew_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="modal fade" id="renew_success_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</script>

<script id="renew_modal_content" type="text/x-handlebars-template">
<div class="modal-header">
  <span class="significant">Confirm UW NetID Provision Renewal Request</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="renew-acceptance container col-md-12">
    <div class="row">
      You are about to renew access to <ul class="comma-list">
        {{#each services}}
        {{#if this.count}}<li class="significant">{{this.name}}</li>{{/if}}
        {{/each}}
      </ul> for {{#gt unique.length 1}}{{unique.length}} {{/gt}}UW NetID{{plural unique.length '' 's'}}{{#gt unique.length 1}}{{else}} <ul class="comma-list">{{#each unique}}<li class="significant">{{this}}</li>{{/each}}</ul>{{/gt}}.
    </div>
    <div class="row">
      As the provisioner, you are responsible for the proper use, account maintenance, and file privileges of the provision.
    </div>
    <div class="row">
      The use of
      <ul class="comma-list">
        {{#each services}}
        {{#if this.count}}<li class="significant">{{this.name}}</li>{{/if}}
        {{/each}}
      </ul>
        by any indivual is bound by UW's Appropriate Use policy, as well as being subject to state and federal law, and other UW policies and procedures.  For more information, visit UW's Appropriate Use page at <a href="https://itconnect.uw.edu/work/appropriate-use/" target="_blank">https://itconnect.uw.edu/work/appropriate-use/</a>.
    </div>
    <div class="row">
      <a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/#annual_renewal" target="_blank">Learn more about provision renewal</a>
    </div>
    <h4>Statement of agreement</h4>
    <div class="row">
      <div class="col-md-1">
        <input type="checkbox" id="renew_accept_responsibility" class="accept_responsibility" />
      </div>
      <div class="col-md-11">
        <label for="renew_accept_responsibility" class="accept_responsibility">
          I, {{ renewer }}, agree to comply with all relevant state and federal laws, and with all UW policies and procedures relating to my provisioned access to UW-IT computing resources and services.
        </label>
      </div>
    </div>
  </div>
  <span style="display: block; line-height: 0;">&nbsp;</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
  <button type="button" id="confirm_renew_responsibility" class="btn btn-primary" data-event-id="{{ event_id }}" disabled="disabled">Renew provision for {{plural unique.length 'this' 'these'}} UW NetID{{plural unique.length '' 's'}}</button>
</div>
</script>

<script id="renew_success_modal_content" type="text/x-handlebars-template">
<div class="modal-header">
  <span class="significant">Confirm UW NetID Provision Renewal Request</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="renew-acceptance container col-md-12">
    <div class="row">
      You have successfully renewed your provision{{ plural unique.length '' 's'}} for one year.
    </div>
    <div class="row">
      As a reminder, you must review, renew, and/or revoke these provisions at least annually.  If you do not complete this review process within one year, access to the provisioned UW-IT services will expire and all corresponding data will be deleted.
    </div>
    <div class="row">
      Your next review deadline is {{ renewal_date }}.
    </div>
  </div>
  <span style="display: block; line-height: 0;">&nbsp;</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</script>
{% endverbatim %}
