{% load templatetag_handlebars %}

{% tplhandlebars "shared_provisioned_modal_content" %}
<div class="modal-header">
  <span style="font-weight: bold;">Access to provisioned services</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    You have agreed to comply with all relevant policies, and we are in the process of provisioning
    <ul class="comma-list">{{#if endorse_o365_netid_count}}<li>NetID{{plural endorse_google_netid_count '' 's'}} <ul class="comma-list">{{#each endorse_o365}}<li>{{this}}</li>{{/each}}</ul> to UW Office 365</li>{{/if}}{{#if endorse_google_netid_count}}<li>NetID{{plural endorse_google_netid_count '' 's'}} <ul class="comma-list">{{#each endorse_google}}<li>{{this}}</li>{{/each}}</ul> to UW G Suite</li>{{/if}}</ul>.
  </div>
  <br /> 
  {{#if endorse_o365_netid_count}}
  <p><a href="http://itconnect.uw.edu/connect/productivity-platforms/suites/uw-office-365/" target="_blank">Get started using UW Office 365</a></p>
  {{/if}}
  {{#if endorse_google_netid_count}}
  <p><a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate" target="_blank">Get started using UW G Suite</a></p>
  {{/if}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Close</button>
</div>
{% endtplhandlebars %}
