{% load templatetag_handlebars %}
{% tplhandlebars "shared-netids" %}

<div class="form-group" id="shared-uwnetids">
<h3>Shared UW NetIDs for which you can provisioned services</h3>

  {{#if has_shared}}
  <div class="form-group">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Shared UW NetID</th>
          <th>Name</th>
          <th class="col-border-left">UW Office 365</th>
          <th>Your provision reason</th>
          <th><!-- {{#if can_revoke}}Revoke UW Office 365{{/if}} --></th>
          <th class="col-border-left">UW G Suite (Google)</th>
          <th>Your provision reason</th>
          <th><!-- {{#if can_revoke}}Revoke UW G Suite{{/if}} --></th>
        </tr>
      </thead>
      {{#each shared.shared}}
      <tr>
        <td>{{netid}}</td>
        <td>{{name}}</td>
        <td id="endorsers-o365-{{netid}}" class="col-border-left">{{> endorsers_partial endorsements.o365}}</td>
        <td id="reason-o365-{{ netid }}">{{> reasons_partial endorsement=endorsements.o365}}</td>
        <td id="action-o365-{{ netid }}">{{> endorse_button_partial endorsements=endorsements.o365 netid=netid service='o365'}}</td>
        <td id="endorsers-google-{{netid}}" class="col-border-left">{{> endorsers_partial endorsements.google}}</td>
        <td id="reason-google-{{ netid }}">{{> reasons_partial endorsement=endorsements.google}}</td>
        <td id="action-google-{{ netid }}">{{> endorse_button_partial endorsements=endorsements.google netid=netid service='google'}}</td>
      </tr>
      {{/each}}
    </table>
  {{else}}
  <div class="no-endorsements">You own no shared UW NetIDs.</dev>
  {{/if}}
</div>

<div class="modal fade" id="shared_netid_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endtplhandlebars %}


{% tplhandlebars "shared-loading" %}
<div class="loading"><div></div></div>
{% endtplhandlebars %}


{% tplhandlebars "shared-failure" %}
<div class="no-endorsements">We are unable to determine if you own any UW NetIDs at this time.  Please try again later.</dev>
{% endtplhandlebars %}
