{% load templatetag_handlebars %}
{% tplhandlebars "shared-netids" %}

<div class="form-group" id="shared-uwnetids">
<h3>Shared UW NetIDs for which you can provisioned services</h3>

  {{#if has_shared}}
  <div class="form-group">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Shared UW NetID</th>
          <th>Name</th>
          <th class="col-border-left">UW Office 365</th>
          <th>Your provision reason</th>
          <th><!-- {{#if can_revoke}}Revoke UW Office 365{{/if}} --></th>
          <th class="col-border-left">UW G Suite (Google)</th>
          <th>Your provision reason</th>
          <th><!-- {{#if can_revoke}}Revoke UW G Suite{{/if}} --></th>
        </tr>
      </thead>
      {{#each shared.shared}}
      <tr>
        <td>{{netid}}</td>
        <td>{{name}}</td>
        <td id="endorsers-o365-{{netid}}" class="col-border-left">{{> endorsers_partial endorsements.o365}}</td>
        <td id="reason-o365-{{ netid }}">{{> reasons_partial endorsement=endorsements.o365}}</td>
        <td id="action-o365-{{ netid }}">{{> endorse_button_partial endorsements=endorsements.o365 netid=netid service='o365'}}</td>
        <td id="endorsers-google-{{netid}}" class="col-border-left">{{> endorsers_partial endorsements.google}}</td>
        <td id="reason-google-{{ netid }}">{{> reasons_partial endorsement=endorsements.google}}</td>
        <td id="action-google-{{ netid }}">{{> endorse_button_partial endorsements=endorsements.google netid=netid service='google'}}</td>
      </tr>
      {{/each}}
    </table>
  {{else}}
  <div class="no-endorsements">You own no shared UW NetIDs.</dev>
  {{/if}}
</div>

<div class="modal fade" id="shared_netid_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endtplhandlebars %}

{% tplhandlebars "shared_accept_modal_content" %}
<!-- Responsiblity Modal -->
<div class="modal-header">
  <span>Confirm Shared NetID <span style="font-weight: bold;">{{netid}}</span> provision request</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>By selecting the shared UW
      NetID {{ netid }} to receive the {{#if is_o365 }}UW Office 365{{else}}{{#if is_google}}UW G Suite (Google){{/if}}{{/if}} service you have identified, you confirm that:</p>
    <ol>
        <li>The provisioning recipient associated with each UW NetID requires use of the service(s) to carry out official UW operations, and</li>
        <li>You have authority to make this request in accord with the UW-IT <a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">guidelines for providing computing services to UW affiliates</a>.</li>
    </ol>

  <p>
      <label>
          <input type="checkbox" id="shared_accept_responsibility"  />
          I understand and accept these terms.
      </label>
  </p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
  <button type="button" id="confirm_shared_endorse" data-netid="{{ netid }}" data-service="{{ service }}" class="btn btn-primary" disabled="disabled">Provision services for this shared UW NetID</button>
</div>

{% endtplhandlebars %}

{% tplhandlebars "shared_revoke_modal_content" %}
<div class="modal-header">
  <span>Revoke your provision of {{ service_name }}</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>You are revoking your provision of {{ service_name }} for {{ netid }}.  They will no longer have access to {{ service_name }} under your provisioning.</p>
    <p>Note that they may continue to have access to {{ service_name }} if provisioned by someone else or if they have another eligible role at the UW.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
  <button type="button" id="revoke" class="btn btn-primary" data-netid="{{ netid }}" data-service="{{ service }}" data-shared-netid="1">Revoke your provision</button>
</div>
{% endtplhandlebars %}


{% tplhandlebars "shared-loading" %}
<div class="loading"><div></div></div>
{% endtplhandlebars %}


{% tplhandlebars "shared-failure" %}
<div class="no-endorsements">We are unable to determine if you own any UW NetIDs at this time.  Please try again later.</dev>
{% endtplhandlebars %}
