{% load templatetag_handlebars %}
{% tplhandlebars "shared_accept_modal_content" %}

<!-- Responsiblity Modal -->
<div class="modal-header">
  <span>Confirm Shared NetID <span style="font-weight: bold;">{{netid}}</span> provision request</span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>By selecting the shared UW
      NetID {{ netid }} to receive the {{#if is_o365 }}UW Office 365{{else}}{{#if is_google}}UW G Suite (Google){{/if}}{{/if}} service you have identified, you confirm that:</p>
    <ol>
        <li>The provisioning recipient associated with each UW NetID requires use of the service(s) to carry out official UW operations, and</li>
        <li>You have authority to make this request in accord with the UW-IT <a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">guidelines for providing computing services to UW affiliates</a>.</li>
    </ol>

  <p>
      <label>
          <input type="checkbox" id="shared_accept_responsibility_A"  />
          I understand and accept these terms.
      </label>
  </p>

  <p>
      <label>
          <input type="checkbox" id="shared_accept_responsibility_B"  />
          I understand and accept these other terms.
      </label>
  </p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
  <button type="button" id="confirm_shared_endorse" data-netid="{{ netid }}" data-service="{{ service }}" class="btn btn-primary" disabled="disabled">Provision services for this shared UW NetID</button>
</div>

{% endtplhandlebars %}
