{% load templatetag_handlebars %}
{% tplhandlebars "shared_accept_modal_content" %}

<!-- Responsiblity Modal -->
<div class="modal-header">
  <span>Provision services for shared UW NetID <span style="font-weight: bold;">{{netid}}</span></span>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{#if endorse_netid_count}}
  <p>
    You have chosen to provision {{endorse_netid_count}} NetID{{plural endorse_netid_count '' 's'}}:
    {{#if endorse_o365_netid_count}}
    <p>
    Office 365:<ul>
      {{#each endorse_o365}}
      {{netid}}
      {{/each}}
    </ul>
    </p>
    {{/if}}
    {{#if endorse_google_netid_count}}
    <p>
    G Suite: <ul>
      {{#each endorse_google}}
      {{netid}}
      {{/each}}
    </ul>
    </p>
    {{/if}}
  </p>
  <p>
      <label>
          <input type="checkbox" id="shared_accept_responsibility_A"  />
          I understand and accept these terms.
      </label>
  </p>

  <p>
      <label>
          <input type="checkbox" id="shared_accept_responsibility_B"  />
          I understand and accept these other terms.
      </label>
  </p>
  {{/if}}

  {{#if revoke_netid_count}}
  <p>
    You have chosen to revoke {{revoke_netid_count}} NetID{{plural revoke_netid_count '' 's'}}:
    {{#if revoke_o365_netid_count}}
    <p>
    Office 365:<ul>
      {{#each revoke_o365}}
      {{netid}}
      {{/each}}
    </ul>
    </p>
    {{/if}}
    {{#if revoke_google_netid_count}}
    <p>
    G Suite: <ul>
      {{#each revoke_google}}
      {{netid}}
      {{/each}}
    </ul>
    </p>
    {{/if}}
  </p>
  {{/if}}


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
  <button type="button" id="confirm_shared_endorse" data-netid="{{ netid }}" data-service="{{ service }}" class="btn btn-primary" disabled="disabled">Provision services for {{plural endorse_netid_count 'this' 'these'}} shared UW NetID{{plural endorse_netid_count '' 's'}}</button>
</div>

{% endtplhandlebars %}
