{% load templatetag_handlebars %}
{% tplhandlebars "shared-netids" %}

<div class="form-group" id="uwnetids-endorsed">
<h3>Shared UW NetIDs for which you can provisioned services</h3>

  {{#if has_shared}}
  <div class="form-group">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Shared UW NetID</th>
        </tr>
      </thead>
      {{#each shared.shared}}
      <tr>
        <td>{{name}}</td>
      </tr>
      {{/each}}
  {{else}}
  <div class="no-endorsements">You own no shared UW NetIDs.</dev>
  {{/if}}
</div>

{% endtplhandlebars %}

{% tplhandlebars "shared-loading" %}
<div class="loading"><div></div></div>
{% endtplhandlebars %}


{% tplhandlebars "shared-failure" %}
<div class="no-endorsements">We are unable to determine if you own any UW NetIDs at this time.  Please try again later.</dev>
{% endtplhandlebars %}
