{% load templatetag_handlebars %}
{% tplhandlebars "validated-list" %}

<h3>Review and confirm provisioning services</h3>

<!--  Verify that the UW Netids below are intended for endorsement. -->
<div class="form-group validation">

  <p>You can provision access to UW Office 365 (O365) and/or UW G Suite (Google) for these UW NetIDs.</p>
  <p>Choose one or both services for each personal UW NetID, ensure that a valid email address is present, and select the reason you are provisioning the service(s). Each person will receive an email with terms and conditions and instructions on how to access the services.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="4"></th>
      <th colspan="2" class="col-border-left">UW Microsoft Office 365</th>
      <th colspan="2" class="col-border-left">UW G Suite (Google)</th>
    </tr>
    <tr>
      <th>UW NetID</th>
      <th>Name</th>
      <th>Email address (required)</th>
      <th>Reason for provisioning services (required)</th>
      <th class="col-border-left" style="width: 135px;">{{#if o365_endorsable}}Provision O365{{/if}}</th>
      <th>Comment</th>
      <th class="col-border-left" style="width: 150px;">{{#if google_endorsable}}Provision G Suite{{/if}}</th>
      <th>Comment</th>
    </tr>
  </thead>
  {{#each netids}}
  {{#if valid_netid}}
  <tr>
    <td><span class="endorsed_netid">{{netid}}</span></td>
    <td><span class="endorsed_name">{{name}}</span></td>
    <td>
      <div class="editing-email visually-hidden">
        <input type=input class="email-editor" placeholder="Email address required" value="{{email}}" style="width: 160px;"> <a href="javascript:void(0);" class="finish-edit-email"><i class="fa fa-minus-circle failure"></i></a>
      </div>
      <div class="displaying-email">
        <span class="shown-email">{{email}}</span> <br><a href="javascript:void(0);" class="edit-email"><p style="font-size: small;">Edit</p></a>
      </div>
    </td>
    <td>
      <div class="displaying-reasons">
        <select required="required" style="width: 150px;">
            <option disabled selected value=""></option>
            <option value="clinical">Clinical work</option>
            <option value="instructional">Instructional activities</option>
            <option value="research">Research</option>
            <option value="mentoring">Student mentoring</option>
            <option value="consulting">Third-party consulting</option>
            <option value="advancement">University Advancement support</option>
            <option value="volunteer">Volunteer work</option>
            <option value="other">Other...</option>
        </select>
        </div>
        <div class="editing-reason visually-hidden">
          <input type=input class="reason-editor" placeholder="Reason for provisioning" value="" style="width: 180px;"> <i class="fa fa-check success finish-edit-reason"></i>
        </div>
        <p style="font-size: small; {{plural ../../netid_count 'display: none;' ''}}"><a href="javascript:void(0);" class='apply-all'>Apply to all</a></p>
    </td>
     {{#with (subscription_context o365 netid 'o365') }}
        {{> validation_partial .}}
     {{/with}}
     {{#with (subscription_context google netid 'google') }}
        {{> validation_partial .}}
     {{/with}}
  </tr>
  {{else}}
  <tr class="invalid-netid">
    <td>{{netid}}</td>
    <td colspan="3">{{#if ../error_message }}{{../error_message}}{{else}}Not a valid UW NetID{{/if}}</td>
    <td class="centered col-border-left">n/a</td>
    <td></td>
    <td class="centered col-border-left">n/a</td>
    <td></td>
  </tr>
  {{/if}}
  {{/each}}

</table>
</div>
<div>
  <button type="button" name="BackToUWNetids" id="netid_input" class="btn btn-normal button-link">Back to list of UW NetIDs</button>

<!--
  <button type="button" name="Endorse" id="endorse" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Updating Services">Update Service Endorsements</button>
-->

<!-- Button trigger modal -->

  <button type="button" id="confirm_endorsements" class="btn btn-primary" data-toggle="modal" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Endorsing..." data-target="#responsibility_modal"><span class="has_netids">Provision services to selected UW NetIDs</span><span class="no_netids" style="display: none;">No UW NetIDs selected</span></button>

  <p style="margin-left: 190px; width: 300px;">Provide a valid email address and reason for provisioning services for all selected UW NetIDs.</p>

  </div>

<!-- Responsiblity Modal -->
<div class="modal fade" id="responsibility_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span>Confirm UW NetID provision request{{plural netid_count '' 's'}}</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>By selecting {{plural netid_count 'this' 'these'}} UW
            NetID{{plural netid_count '' 's'}} to receive the services you have identified, you confirm that:</p>
          <ol>
              <li>The provisioning recipient associated with each UW NetID requires use of the service(s) to carry out official UW operations, and</li>
              <li>You have authority to make this request in accord with the UW-IT <a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">guidelines for providing computing services to UW affiliates</a>.</li>
          </ol>

        <p>
            <label>
                <input type="checkbox" id="accept_responsibility"  />
                I understand and accept these terms.
            </label>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary button-link" data-dismiss="modal">Cancel</button>
        <button type="button" id="endorse" class="btn btn-primary" disabled="disabled">Provision services for {{plural netid_count 'this' 'these'}} UW NetID{{plural netid_count '' 's'}}</button>
      </div>
    </div>
  </div>
</div>

{% endtplhandlebars %}
