{% load templatetag_handlebars %}
{% tplhandlebars "validation_partial" %}

      {{#if eligible}}
         {{#if active}}
            {{#if self_endorsed}}
               <td class="centered">
                 <i class="fa fa-check success"></i>
               </td>
            {{else}}
               <td class="centered">
                 <input type="checkbox" name="endorse_{{svc}}" value="{{netid}}" />
               </td>
            {{/if}}
            <td>
              {{#if endorsers}}
              Endorsed by 
              <ul>
                {{#each endorsers}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
              {{else}}
              Service active, unendorsed
              {{/if}}
            </td>
         {{else}}
           <td class="centered">
             {{#if endorsable}}
             <input type="checkbox" name="endorse_{{svc}}" value="{{netid}}" checked="checked" />
             {{/if}}
           </td>
           <td></td>
         {{/if}}
      {{else}}
        <td class="invalid-netid centered">{{#if endorsable}}<i class="fa fa-minus-circle"></i>{{/if}}</td>
        <td>
          NetID Ineligible
        </td>
      {{/if}}

{% endtplhandlebars %}
