Hello {{ email.display_name }},
<p>
You are receiving this email because {{ record.accessee.display_name }} ({{ record.accessee.netid }}) has given
{% if record.accessor.is_group %}
  the group you administrate
{% else %}
  you
{% endif %}
{{ record.right_name }} permissions to their Outlook mailbox. Access to this mailbox lasts for 365 days and must be renewed by {{ record.accessee.display_name }}.
</p>
<p>
With &quot;{{ record.right_name }}&quot; {% if record.accessor.is_group %}group members{% else %}you{% endif %} will be able to:
<ol>
  {% if record.right_id == 'FullAccessandSendAs' %}
    <li>Open the mailbox</li>
    <li>View, add and remove the contents of the mailbox</li>
    <li>Send messages as if they came directly from the mailbox</li>
  {% elif record.right_id == 'FullAccess' %}
    <li>Open the mailbox</li>
    <li>View, add and remove the contents of the mailbox</li>
  {% elif record.right_id == 'SendAs' %}
    <li>Send messages as if they came directly from the mailbox</li>
  {% elif record.right_id == 'SendOnBehalf' %}
    <li>Allows the delegate to send messages from the mailbox or group<br />
    The From address of these messages clearly shows that the message was sent by the delegate (&quot; &lt;Delegate&gt; on behalf of &lt;MailboxOrGroup&gt;&quot;)</li>
  {% else %}
    <li>Some additional access.</li>
  {% endif %}
</ol>
</p>
<p>
To begin accessing this mailbox, join this group: https://groups.uw.edu/group/u_msca_enable_uw-forwarding-bypass and go to your email platform to add the new mailbox…..??????? (need help filling this in)
</p>
<p>
(links to IT Connect article)
</p
<p>
Is there a delay that folks need to be aware about?
</p>
<p>
If you have any questions, please contact help@uw.edu or 206-221-5000.
<p>
Thank you,
UW-IT
</p>
