<p>
  You have requested provisioning for the following {{endorsed_count}} shared UW NetID{{ endorsed_count|pluralize }}:
</p>

<ul style="list-style-type: none;">
    {%if o365_endorsed %}
    <li>
      <p>
        The {{ o365_endorsed_count}} NetID{{ o365_endorsed_count|pluralize}} {% for e in o365_endorsed %}{% if not forloop.first and not forloop.last %}, {% endif %}{% if forloop.last %} and {% endif %}{{e.netid}}{% endfor %} will be provisioned to <strong>UW Office 365</strong>.
      </p>
      <p>
        <a href="http://itconnect.uw.edu/connect/productivity-platforms/suites/uw-office-365/" target="_blank">Get started using UW Office 365</a>
      </p>
    </li>
    {% endif %}
    {%if google_endorsed %}
    <li>
      <p>
        The {{ google_endorsed_count}} NetID{{ google_endorsed_count|pluralize}} {% for e in google_endorsed %}{% if not forloop.first and not forloop.last %}, {% endif %}{% if forloop.last %} and {% endif %}{{e.netid}}{% endfor %} will be provisioned to <strong>UW G Suite (Google)</strong>.
      </p>
      <p>
      </p>
      <p>
        <a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate" target="_blank">Get started using UW G Suite</a>
      </p>
    </li>
  {% endif %}

</ul>

<p>
    <span style="font-weight: 700;">Shared NetID use of these services is bound by UW-IT’s Appropriate Use policy, as well as being subject to state and federal law, and to other UW policies and procedures.</span> For more information, visit UW-IT’s Appropriate Use page at <a href="http://itconnect.uw.edu/work/appropriate-use/" target="_blank">http://itconnect.uw.edu/work/appropriate-use/</a>.
</p>

<p>
    Thank you,<br />
    UW-IT Help Center<br />
    help@uw.edu
</p>
