<p>
{{ endorser_name }} has granted you access to {%if o365_endorsed %}UW Microsoft {% endif %}{%if both_endorsed %}and {% endif %}{%if google_endorsed %}Google {% endif %}tools provided by the University of Washington.
</p>
<p>
Learn how to activate these tools here:
<ul>
  {%if google_endorsed %}
  <li><a href="https://itconnect.uw.edu/connect/email/google-apps/">UW Google Tools (G Suite)</a></li>
  {% endif %}
  {%if o365_endorsed %}
  <li><a href="https://login.microsoftonline.com">UW Microsoft Tools (Office 365)</a></li>
  {% endif %}
</ul>
</p>
<p style="font-weight: 700;">
By using these tools, you agree to comply with all relevant state and federal laws in addition to UW policies. These are summarized on the IT Connect Appropriate Use page at http://itconnect.uw.edu/work/appropriate-use/.
</p>
<p>
UW NetID policies also apply:
</p>
<p>
Many laws and policies regulate your use of UW computing resources and services such as email, internet access, mailing lists, newsgroups, computer hardware and software, etc. Please read carefully to ensure that you understand.
</p>
<p>
UW policy or laws prohibit the following:
<ul>
<li>Sharing your UW NetID password with anyone;</li>
<li>Using UW computing resources and services for commercial or political use;</li>
<li>Using licensed or copyrighted software, images, or files without proper authorization;</li>
<li>Using someone else's UW NetID;</li>
<li>Accessing files belonging to others without permission;</li>
<li>Violating the privacy of "personally identifiable information" of anyone associated with the UW;</li>
<li>Invading or harming UW computers.</li>
</ul>
</p>
<p>
UW employees and healthcare workforce members must comply with these additional policies:
<ul>
<li>Understand that state law forbids the use of UW computing resources and services provided by the UW for your work to be used for personal use.</li>
<li>Acknowledge that any records you create in the process of doing UW business are subject to public records requests.</li>
<li>Understand and comply with the special restrictions about the use of UW Confidential Data, such as Protected Health Information (PHI), Personally Identifiable Information (PII), or Export-controlled data.</li>
<li>Report any inappropriate use of data or violation of policy immediately upon discovery.</li>
<li>Acknowledge that UW data is the property of the University and that you will return, upon request, any UW data that you place in a cloud service or other external repository.</li>
</ul>
</p>
<p>
Please contact the UW-IT Help Center at <a href="https://itconnect.uw.edu/help/">https://itconnect.uw.edu/help/</a> with any questions.
</p>
