
<p>The UW employee <strong>{{ endorser_name }} ({{ endorser_netid }})</strong> has requested that you be given access through the University of Washington to
    {%if o365_endorsed %}<strong>UW Office 365</strong>{% endif %}{%if both_endorsed %} and {% endif %}{%if google_endorsed %}<strong>UW G Suite (Google)</strong>{% endif %}.
</p>

<p>
<strong>YOUR ACTIVATION IS REQUIRED</strong> to access UW Service(s) per <a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/" target="_blank">the process documented here</a>.  UW NetID login required.
</p>

<ul style="list-style-type: none;">
  {%if google_endorsed %}
    <li>
        <a href="{{ google_accept_url }}">Activate UW G Suite.</a>
    </li>
  {% endif %}
  {%if o365_endorsed %}
    <li>
        <a href="{{ o365_accept_url }}">Activate UW Office 365.</a>
    </li>
  {% endif %}

</ul>

<p>The activation process will likely be completed within two hours, but it may take up to 24 hours.</p>

<p>
    <span style="font-weight: 700;">Your use of these services is bound by UW-IT’s Appropriate Use policy, as well as being subject to state and federal law, and to other UW policies and procedures.</span> For more information, visit UW-IT’s Appropriate Use page at <a href="http://itconnect.uw.edu/work/appropriate-use/" target="_blank">http://itconnect.uw.edu/work/appropriate-use/</a>.
</p>

<p>
    Service documentation is available here:
</p>


<ul style="list-style-type: none;">
  {%if google_endorsed %}
    <li>
        <a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate">UW G Suite</a>
    </li>
  {% endif %}
  {%if o365_endorsed %}
    <li>
        <a href="http://itconnect.uw.edu/connect/productivity-platforms/suites/uw-office-365/">UW Office 365</a>
    </li>
  {% endif %}
</ul>

<p>
    Thank you,<br />
    UW-IT Help Center<br />
    help@uw.edu
</p>
