<p>
  You have requested access to
{% if o365_endorsed %}
  UW Office 365 for 
  {% if o365_endorsed_count > 10 %}
  {{ o365_endorsed_count }} of your shared UW Netids{% if not both_endorsed %}.{% endif %}
  {% else %}
  the shared UW NetID{{ o365_endorsed_count|pluralize}}
  {% for e in o365_endorsed %}{% if not forloop.first and not forloop.last %}, {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}'{{e.netid}}'{% endfor %}{% if not both_endorsed %}.{% endif %}
  {% endif %}
{% endif %}

{% if both_endorsed %} and {% endif %}

{% if google_endorsed %}
  UW G Suite (Google) for
  {% if google_endorsed_count > 10 %}
  {{ google_endorsed_count }} of your shared UW Netids.
  {% else %}
  the shared UW NetID{{ google_endorsed_count|pluralize}}
  {% for e in google_endorsed %}{% if not forloop.first and not forloop.last %}, {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}'{{e.netid}}'{% endfor %}.
  {% endif %}
{% endif %}
</p>

<p>
We are in the process of provisioning access for {{ endorsed_count|pluralize:"this,these" }} account{{ endorsed_count|pluralize }}.
</p>

{% if o365_endorsed %}
<p>
  <a href="http://itconnect.uw.edu/connect/productivity-platforms/suites/uw-office-365/" target="_blank">Get started using UW Office 365.</a>
</p>
{% endif %}
{% if google_endorsed %}
<p>
  <a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate" target="_blank">Get started using UW G Suite.</a>
</p>
{% endif %}
<p>
  <span style="font-weight: 700;">Shared NetID use of these services is bound by UW-IT&apos;s Appropriate Use policy, as well as being subject to state and federal law, and to other UW policies and procedures.</span> For more information, visit UW-IT&apos;s Appropriate Use page at <a href="http://itconnect.uw.edu/work/appropriate-use/" target="_blank">http://itconnect.uw.edu/work/appropriate-use/</a>.
</p>
<p>
    Thank you,<br />
    UW-IT Help Center<br />
    help@uw.edu
</p>
