<p>The UW employee {{ endorser_name }} ({{ endorser_netid }}) has requested that you be given access through the University of Washington to
  {%if o365_endorsed %}UW Office 365{% endif %}{%if both_endorsed %} and {% endif %}{%if google_endorsed %}UW G Suite (Google){% endif %}.
</p>

<p>
    <span style="font-weight: 700;">Your use of these services is bound by UW-IT’s Appropriate Use policy, as well as being subject to state and federal law, and to other UW policies and procedures.</span> For more information, visit UW-IT’s Appropriate Use page at <a href="http://itconnect.uw.edu/work/appropriate-use/" target="_blank">http://itconnect.uw.edu/work/appropriate-use/</a>.
</p>

<p>To access the service{%if both_endorsed%}s{% endif %}, you must first agree to comply with all relevant state and federal laws, and with all UW policies and procedures, relating to your use of UW computing resources, including your use of  {%if o365_endorsed %}UW Office 365{% endif %}{%if both_endorsed %} and {% endif %}{%if google_endorsed %}UW G Suite{% endif %}.
</p>

<p>
    {%if both_endorsed %}You must agree to the policies of each service separately.{% endif %}
</p>

<ul style="list-style-type: none;">
    {%if o365_endorsed %}
    <li>
        <a href="{{ o365_accept_url }}">Review and agree to the policies in order to access UW Office 365.</a>
    </li>
  {% endif %}
    {%if google_endorsed %}
    <li>
        <a href="{{ google_accept_url }}">Review and agree to the policies in order to access UW G Suite (Google).</a>
    </li>
  {% endif %}

</ul>

<p>Once you have agreed to the policies, the activation process will likely be completed within two hours, but it may take up to 24 hours.</p>
<ul style="list-style-type: none;">
  {%if o365_endorsed %}
    <li>
        <a href="http://itconnect.uw.edu/connect/productivity-platforms/suites/uw-office-365/">Get started using UW Office 365</a>
    </li>
  {% endif %}
  {%if google_endorsed %}
    <li>
        <a href="https://itconnect.uw.edu/connect/email/google-apps/getting-started/#activate">Get started using UW G Suite</a> </li>
  {% endif %}

</ul>

