Hello {{ endorser_netid }},

<p>

You previously used the Provisioning Request Tool to provision {% for svc in services %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ svc }}{% endfor %} services for the following UW NetID{{ endorsed|length|pluralize }}:
</p>
<ul style="list-style: none;">
{% for netid, svcs in endorsed.items %}
<li>{{ netid }}: {% for s in svcs %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ s }}{% endfor %}</li>
{% endfor %}
</ul>
<p>
Please find a UW employee to reprovision services for {{ endorsed|length|pluralize:"this,these" }} UW NetID{{ endorsed|length|pluralize }}.
</p>
<p>
If you take no action, services will be revoked and data will be deleted for these UW NetIDs in roughly 14 days.
</p>
<p>
Read more about provisioning accounts to UW affiliates & Sponsored UW NetIDs using the Provisioning Request Tool at:
<a href="https://itconnect.uw.edu/connect/email/resources/affiliate-access/">https://itconnect.uw.edu/connect/email/resources/affiliate-access/</a>
</p>
<br />
Thank you,<br />
UW-IT Help Center<br />
help@uw.edu<br />
------ 
