<p>
Hi Provision Requester {{endorser.display_name}} ({{endorser.netid}}),
</p>
<p>
It has recently come to our attention that {{ expiring_count }} provisionee netid{{expiring_count|pluralize}}
{{expiring_count|pluralize:"has,have"}} reached the end of {{expiring_count|pluralize:"its,their"}} provisioned service lifetime
of {{lifetime}} days.
</p>
<p>
Unless you take action to renew {{expiring_count|pluralize:"it,them"}} now, the following endorsement{{expiring_count|pluralize}} will expire,
and thus be revoked today.
</p>
<table>
<thead>
<tr><th>Provisionee</th><th>Service</th><th>Provisioned</th><th>Reason</th></tr>
<thead>
<tbody>
{%for e in expiring %}
<tr>
<td>{{e.endorsee.netid}}</td><td>{{e.get_category_code_display}}</td><td>{{e.datetime_endorsed|date:"M d, Y"}}</td><td>{{e.reason}}</td></tr>
{% endfor %}
</tbody>
</table>
<p>
Sincerely,
</p>
<p>
Your Provision Request Tool
</p>
