Hello {{endorser.display_name}} ({{endorser.netid}}),

<p>
It has recently come to our attention that {{ expiring_count }} provisionee netid{{expiring_count|pluralize}}
{{expiring_count|pluralize:"is,are"}} within {{notice_time}} days of {{expiring_count|pluralize:"its,their"}} provisioned service lifetime of {{lifetime}} day{{lifetime|pluralize}}.
</p>
<p>
Unless you take action to renew {{expiring_count|pluralize:"it,them"}}, the following endorsement{{expiring_count|pluralize}} will expire,
and thus be revoked in {{notice_time}} days:
</p>
<table style="width: 100%;">
<thead>
<tr><th style="text-align: left;">Provisionee</th><th style="text-align: left;">Service</th><th style="text-align: left;">Provisioned</th><th style="text-align: left;">Reason</th></tr>
<thead>
<tbody>
{%for e in expiring %}
<tr>
<td>{{e.endorsee.netid}}</td><td>{{e.get_category_code_display}}</td><td>{{e.datetime_endorsed|date:"M d, Y"}}</td><td>{{e.reason}}</td></tr>
{% endfor %}
</tbody>
</table>
<br />
Thank you,<br />
UW-IT Help Center<br />
help@uw.edu<br />
------
