

/* ==========================================================================
   MAIN STYLE
   ========================================================================== */

/* ++++++++++++++++++++++++++ Mixins ++++++++++++++++++++++++++ */
$uwpurple: #4b2e83;
$gold: #b7a57a;
$lightgold: #e8e3d3;
$metgold: #85754d;
$link_focus: #b5754d;


/*********** Development Style (clear out before production deploy ***********/


.dummy {
    //color: red;
    //font-weight: bold;
}

a.dummy {
    text-decoration: underline;
}



/*********** Global Reset ***********/

html, body {
    font-family: 'Open Sans', Helvetica, arial, san-serif;
    padding:0;
    margin:0;
    height: 100%;
    color:#333;
}

.col { flex: 1 0 50%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
} 
img {
   border: 0;
   max-width: 100%;
   height: auto;
}

.visually-hidden{
	position: absolute;
	left:-9999px;
	top:-9999px;
}

/*********** Spacing ***********/

.clear {
    clear:both;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

/* align center */
.center {
	margin: auto;
	text-align: center;
}

.no-btm-margin {
	margin-bottom: 0px;
}

.inline {display:inline;}
/* Text structure */

h1, h2, h3, h4 { font-family: 'Encode Sans Compressed', 'Open Sans Condensed', Helvetica, arial, san-serif; font-weight: bold; /*color: $uwpurple;*/ }

h3 {
    font-size: 1.8rem;
}

h4 {
    padding-top:16px;
    font-size:1.2rem;
     &.list-header {
        border-bottom: 1px solid;
        padding-bottom: 4px;
    }
}

/* Hyperlink style:*/
a {
	color:#0077c2;
	&:focus, &:hover {
        color: $link_focus;
	}
}

.sitename{
	font-size: 2em;
	margin: 38px 10px 0 110px;
	font-family: 'Encode Sans Compressed', 'Open Sans Condensed', Helvetica, arial, san-serif;
	font-weight: 400;
	color: white;
}



/**************** Main stuff *************/
.no-wrap {white-space: nowrap;}


.topbanner-bg {background-color: $uwpurple; /*height: 76px;*/ color: white;
    .uw-logo {
      display: block;
      text-indent: -9999px;
      width: 80px;
      height: 60px;
      position: absolute;
      top: 19px;
      left: 0;
      z-index: 1;
    }
    select {
        font-size:.8em;
    }
}


.endorsement-thin-bar {
    background: #452a78;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    a {
        color: #fff;
        display: inline-block;
        min-width: 30px;
        height: 40px;
        background: none;
        border: none;
        i {padding-right: 4px;font-size:15px;}
    }
    .endorsement-netid {
        display: inline-block;
        span {
            //font-size: 16px;
            //padding-left: 4px;
        }
    }
    .endorsement-search-links {
        display: inline-block;
        float: right;
        color: #fff;
        margin-right: -3px;
        //font-size: 16px;
    }
}

.endorsement-navigation {
    background: #4b2e83;
    height: 65px;
    .endorsement-wrapper {
        background-repeat: no-repeat;
        background-size: 45px;
        background-position: right 20px bottom;
        height: 65px;
        .endorsement-title {
            color: #fff;
            font-size: 26px;
            font-weight: 400;
            line-height: 65px;
            height: 65px;
            a, .endorsement-navigation .endorsement-title a:hover, .endorsement-navigation .endorsement-title a:focus, .endorsement-navigation .endorsement-title a:visited {
                color: #fff;
            }
            i {font-size: 1.4rem;}
        }
    }
}


.userinfo {
    position: absolute;
    top: .5rem;
    right: 1rem;
}

.main-content {
	margin: 40px 0px;
	min-height: 100%;
}

.page-title {
	padding-bottom:20px;
}

.data-section {
    //margin-top:25px;
}

.invalid-netid {
    color: #c00f0f;
}

.nav-tabs {
    margin-top: 12px;
    li {
      h2 { font-size: 18px !important;}
    }
}

#uwnetids-input {
   #netid_list { height: 6em; }
}

#export_csv { margin-left: 16px; }

#uwnetids-validated {
  .validation {
    table {
       .centered {
         text-align: center;
       }
       ul { 
           display: inline;
           list-style: none;
           padding: 0;
           li { display: inline; }
           li:after { content: ", "; }
           li:last-child:after { content: ""; }
       }
       tr.unchecked {
         select {
           pointer-events: none;
         }
       }
    }
  }

  button#confirm_endorsements:enabled + p {
    display: none;
  }

  button#confirm_endorsements.no_netids + p {
    display: none !important;
  }

  button#confirm_endorsements.loading + p {
    display: none !important;
  }

  button#confirm_endorsements.no_netids {
    .no_netids {
      display: inline !important;
    }
    .has_netids {
      display: none;
    }
  }
}

.endorsed-netids-table, .shared-netids-table { border: 1px solid #ddd; 

  table { display: flex; flex-flow: column; width: 100%; margin-bottom: 0; }
  thead { flex: 0 0 auto; }
  tbody { flex: 1 1 auto; display: block; overflow-y: scroll; overflow-x: hidden; height: 280px; }
  tr { width: 100%; display: table; table-layout: fixed; }
  tr:last-child { border-bottom: 1px solid #ddd; }

  thead { background-color: #eee;
     label { margin-bottom: 0; }
     span { font-weight: 200; font-size: .9em; }
  }
  tr.new_netid { background: #efffef !important; }
  .endorsed-netid { border-top: none; }
  tr.endorsee_row_odd { background: #f8f8f8;  }
  tr.endorsement_row_first {
    .endorsed-netid, .endorsed-name { border-top: 1px solid #ddd; }
  }
  tr.endorsement_row_following {
    .endorsed-netid, .endorsed-name { color: transparent; }
  }
  .endorsed-name { min-width: 200px; border-top: none; border-right: 1px solid #ddd; }
  .endorsed-service-name { width: 130px;  white-space: nowrap; }
  .endorsed-status-icon { width: 20px; }
  .endorsed-reason { min-width: 120px; }
  .endorsed-action { white-space: nowrap; }
  .aggregate_action { margin-right: 10px; }
}

label.accept_responsibility {
  font-weight: normal;
}

.table.borderless td {
  border: none !important;
  padding-bottom: 0;
}

#shared-uwnetids {
  button#shared_update {
    margin-top: 10px;
  }
}

.form-group { margin-top: 15px; }
.panel-toggle { color:#0077c2; display: inline-block; margin-bottom: 10px; }

.netid-panel { margin-bottom: 40px; }

#provision { margin-bottom: 38px; }

#provisioned, #shared {
  .loading {
    min-height: 180px;
    > div {
      height: 60px;
      width: 60px;
      margin: 50px auto 0 auto;
      position: absolute;
      left: 50%;
      -webkit-animation: rotation .6s infinite linear;
      -moz-animation: rotation .6s infinite linear;
      -o-animation: rotation .6s infinite linear;
      animation: rotation .6s infinite linear;
      border-left: 6px solid rgba(75, 46, 131, .15);
      border-right: 6px solid rgba(75, 46, 131, .15);
      border-bottom: 6px solid rgba(75, 46, 131, .15);
      border-top: 6px solid rgba(75, 46, 131, .8);
      border-radius: 100%;
    }
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#uwnetids-endorsed, #shared-uwnetids {
  a.link-disabled {
    cursor: not-allowed !important;
    pointer-events: none;
  }
}

ul.comma-list { display: inline; list-style: none; padding: 0;
  li { display: inline; }
  li:after { content: ", "; }
  li:nth-last-child(2):after { content: " and "; }
  li:last-child:after { content: ""; }
}

ul.email-list { list-style: none; padding: 0; }

.no-endorsements {
  height: 8em;
  line-height: 30px;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}

.no-endorsements:not(.visually-hidden) + div {
    display: none;
}


#endorse_modal {
  h4 { font-size:1.1em; margin-top: 0; padding-top: 0; }
}

.modal-content {
  overflow: auto;
}

.shared-acceptance, .endorsed-acceptance, .renew-acceptance {
  .row { margin-bottom: 12px; }
}

.success { color: green; }
.failure { color: #c00f0f; }

.page-wrap {
	content: "";
	display: block;
	width: 100%;
	/* min-width: 500px;  prevent the nav menu wrapping */
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
	height: 160px;
}

/* app container Stuff*/

#app_container {
    min-height: 500px;
}

/* footer  Stuff*/

#app_footer {
    .footer-bar {
        padding: 16px 0 !important;
    }
}

// footer bar
.footer-bar { background:#333; padding: 10px 0;
    .footer-links { position:relative; color: #aaa; font-size: 11px; 
    	a, button {color: #fff}
        .footer-links-list { padding: 0; margin-bottom: .5em; line-height: 11px; list-style: none;
            .footer-links-list-item { display: inline-block; padding-right: 5px; margin-right: 3px; border-right: solid 1px #aaa; color: #222;
			}
        }
    }
}

/*
footer {
	border-top: #eee 1px solid;
	padding-top: 20px;
	margin-top: 50px;
}

.site-footer {
	background: #eee;
}


.footer-links ul {
    list-style: outside none none;
    margin-bottom: 0.5em;
    padding: 0;
}

.footer-links ul li {
    border-right: 1px solid #bdc3c7;
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;

}

footer .footer-links ul li:last-child {
	    border: 0px;
    margin-right:0px;
    padding-right:0px;
}*/


/***** Checkboxes *****/
input[type=checkbox][id^=endorse_] { margin-right: 10px; }
/**
input[type=checkbox][id^=revoke_],
input[type=checkbox][id^=endorse_] { display:none; }

input[type=checkbox][id^=revoke_] + label,
input[type=checkbox][id^=endorse_] + label {
    font-size: 1.75em;
}

input[type=checkbox][id^=revoke_] + label:before,
input[type=checkbox][id^=endorse_] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
}

input[type=checkbox][id^=endorse_]:checked + label:before { content: "\f00c"; color: #DAA520;}
input[type=checkbox][id^=revoke_] + label:before { content: "\f00c"; color: green;}
input[type=checkbox][id^=revoke_]:checked + label:before { content: "\f00d"; color: red;}
**/

/***** EVERYTHING ELSE *****/
.significant {
  font-weight: bold !important;
}
/**
.action {
    font-weight: 600;
    font-style: italic;
}
**/

.expiring_netids { padding: 12px 18%; font-size: 1.1em; background-color: #4e6b86; color: white; width: 100%;
    button.close { position: absolute; right: 10px; }
 }

.email-editor {
    position: static;
    display: inline-block !important;
    left: auto;
    top: auto;
    .edit-email {
      .finish-email-edit { margin-left: 8px; }
    }
    .edit-email.error {
      input { border: 1px solid red; }
      span { display: inline-block !important; position: absolute; white-space: nowrap; color: red; font-size: small; }
    }
    .display-email { margin-left: 8px; font-style: italic;
      .start-email-edit span { margin-left: 10px; }
    }
}

td.error, tr.error {
    select {
        border: 1px solid red;
        + div {
            display: inline !important;
            color: red;
            font-size: .9em;
        }
    }
    .displaying-email {
        display: none;
    }
}

/* may not be needed once Bootstrap is in use */
#boxplots {
    clear:both;
}

/* modify Bootstrap grid styles */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


 /* ==========================================================================
   SMALL SCREEN: need to revisit for SCSS
   ========================================================================== */

 /* Small devices (tablets, 768px and up) */



 
@media (max-width: 768px) {
	.hide-sm {
	position: absolute;
	left:-9999px;
	top:-9999px;
	}
	.sitename{
	font-size: 1.5em;}
}
