
.course-data {
    .historic-section {border-left:1px solid #ccc;border-top:none;padding-top: 0;}
    .current-data-row, .historic-data-row {
            //margin-top: 24px;
            margin-bottom: 24px;
        }
}