$green: #5cb85c;
$red: #d9534f;

.endorsement-navigation .endorsement-wrapper { background-position: right 20px bottom; }

.tab-content { padding-top: 20px; }

.nav-tabs li a { padding: 5px 10px; }
.nav-tabs li.active h2 { font-weight: bold; }
.nav-tabs li h2 { font-size: 20px; margin: 10px auto; font-weight: normal; }

div.form-group label { font-weight: normal; }

legend { border-bottom: 0; font-size: 16px; font-weight: bold; margin-bottom: 10px; }

h4 { font-size: 1.4rem; }

.col-border-left { border-left: 2px solid #ddd; }
tr.unchecked {
    td:nth-child(-n+4) {opacity: .5; font-style: italic;}
    a { cursor: not-allowed; }
    a:hover { text-decoration: none; color: #0077c2; }
}

.btn-primary:disabled { background-color: #777; border-color: #777; }
.btn-primary:disabled:hover { background-color: #777; border-color: #777; }
.btn.button-link { color: #0077c2; }

/* endorsee accepts terms */
div.card, div.error-container div.card { padding-top: 20px; min-height: 300px; margin: 0px auto; max-width: 800px; }